.catalog {
  padding: 27px 0 25px;
  border-top: 1px solid $basic_grey-2;
}

.catalog .wrapper {
  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.catalog__title {
  @media (max-width: $mobile-width-only) {
    @include text-wrap;
    margin-bottom: 47px;
  }
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: start;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    grid-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    grid-column-gap: 80px;
    grid-row-gap: 62px;
  }
}
