.catalog {
  padding-top: 27px;
  padding-bottom: 25px;
  border-top: 1px solid $basic_grey-2;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 68px;
    border-top: none;
  }
}

.catalog .wrapper {
  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.catalog__title {
  @media (max-width: $mobile-width-only) {
    @include text-wrap;
    margin-bottom: 41px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 162px;
  }
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: start;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    grid-row-gap: 137px;
    grid-column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    grid-column-gap: 80px;
    grid-row-gap: 140px;
  }
}
