.contacts {
  background-color: $basic_grey;

  &--main {
    background-color: $basic_white;
  }
}

.contacts__info {
  display: flex;
  justify-content: space-between;
  padding: 28px 23px 26px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 62px 72px 59px 71px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic_white;
    position: absolute;
    z-index: 1;
    min-width: 570px;
    top: 95px;
    left: 110px;
    padding: 62px 89px 58px 76px;
  }
}

.contacts__slogan {
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
    font-size: 20px;
    line-height: 24px;
  }
}

.contacts__address {
  @include basic-text-mobile(20px);
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__address span {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 20px;
  }
}

.contacts__map {
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
