.contacts {
  padding-top: 28px;
  
  &--main {
    background-color: $basic_white;
  }
}

.contacts__slogan {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.contacts__address {
  @include basic-text-mobile(20px);
}
