.copyright {
  width: 100%;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__link svg {
  fill: $special_grey-2;
  width: 27px;
  height: 34px;
}

.copyright__text {
  @include basic-text-mobile(18.4px, 16px);

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}
