.example {
  padding: 27px 0 25px;
  min-height: 705px;
  background-color: $basic_grey-3;

  @media (min-width: $tablet-width) {
    padding: 43px 0 67px;
    min-height: 1081px;
    background: linear-gradient($basic_white 619px, $basic_grey-3 619px);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    min-height: 656px;
    background: linear-gradient($basic_white 194px, $basic_grey-3 194px);
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 436px auto;
    grid-template-rows: 194px 1fr 1fr;
  }
}

.example__title {
  margin-bottom: 33px;

  @media (min-width: $desktop-width) {
    grid-row: 1;
  }
}

.example__text {
  margin-top: 0;
  margin-bottom: 25px;

  @include basic-text-mobile;

  @media (min-width: $desktop-width) {
    grid-row: 2;
  }
}

.example__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    grid-row: 3;
  }
}

.example__info-block {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  width: 44%;
  border: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    width: 25%;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.example__info-number {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 17px;
}

.example__info-description {
  position: absolute;
  top: 36px;
  left: 50%;
  padding-left: 15px;
  padding-right: 15px;
  transform: translateX(-50%);
  background-color: $basic_grey-3;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
}

.example__info-expenses {
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 34px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.example__result-button {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}
