.features {
  width: 320px;
  margin: 0 auto;
  padding: 0 0 42px;
}

.features__wrapper {
  width: $mobile-wrapper;
  margin: 0 20px;
}

.features__list {
  @include list-reset;
}

.features__list-item {
  @include basic-text-mobile;
}
