.order {
  width: 320px;
  margin: 0 auto;
  padding: 27px 0 32px;
  border-top: 1px solid $grey-line;
}

.order__text {
  text-transform: uppercase;
}

.order__note {
  font-family: "Arial", sans-serif;
  text-align: center;
}
