.order {
  padding: 27px 0 32px;
  border-top: 1px solid $grey-line;
}

.order .wrapper {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.order__text {
  text-transform: uppercase;
}

.order__note {
  font-family: "Arial", sans-serif;
  text-align: center;
}
