.product-card {
  border-top: 1px solid $basic_grey-2;
}

.product-card__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-card__link {
  color: $special_dark-grey-2;
  text-decoration: none;
}

.product-card__info {
  @include basic-text-mobile(16px, 12px);
}

.product-card__info-category {
  font-weight: 400;
}
