.promo {
  position: relative;
  padding: 27px 0;
  min-height: 480px;
  background: linear-gradient(rgba(104, 183, 56, 0.85) 302px, $basic_white 302px),
    url("../../img/index-background.jpg");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  color: $basic_white;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 302px, $basic_white 302px),
      url("../img/index-background@2x.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
  }

  @media (min-width: $tablet-width) {
    padding: 62px 0 0;
    min-height: 810px;
    background: none;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    padding: 141px 0 0;
    min-height: 696px;
    background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, $basic_white 50%),
      url("../img/index-background-desktop.jpg");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, $basic_white 50%),
        url("../img/index-background-desktop@2x.jpg");
      background-position: top right;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.promo__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.promo__content-block {
  @media (min-width: $tablet-width) {
    padding-left: 87px;
    padding-right: 206px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;
    width: 50%;
    padding-top: 82px;
    padding-left: 82px;
    padding-right: 0;
  }
}

.promo__title {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.promo__slogan {
  margin-top: 0;
  margin-bottom: 28px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__button {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.promo__image {
  text-align: center;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-top: -83px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: -160px;
    z-index: auto;
  }
}


.promo__image-img {
  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}
