.show-more-block {
  border-top: 1px solid $basic_grey-2;
  border-bottom: 1px solid $basic_grey-2;

  @media (min-width: $tablet-width) {
    border: 1px solid $basic_grey-2;
  }
}

.show-more-block__wrapper {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 78px 20px 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 161px 37px 39px;
  }
}

.show-more-block__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 23px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../../img/plus.svg");
    background-repeat: no-repeat;
    background-size: cover; //убрать после замены svg иконки
    top: 25px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      top: 52px;
    }
  }
}

.show-more-block__text {
  @include basic-text-mobile(16px, 12px);
  margin-top: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 87px;
  }
}
