.social {
  border-top: 1px solid $grey-line;
  border-bottom: 1px solid $grey-line;
  width: 100%;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__list {
  @include list-reset;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.social__link {
  text-decoration: none;
}
