@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin basic-text-mobile($line-height: 18px, $font-size: 14px) {
  color: $special_dark-grey;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin text-wrap($max-width: 550px, $padding: 0 20px) {
  max-width: $max-width;
  padding: $padding;
  margin: 0 auto;
}
